@model ceyglass.application.Models.LoginModel


    <!--top bar-->
    <div id="navbar" class="navbar navbar-default">
        <div id="navbar-container" class="navbar-container">
            <!--company name & logo-->
            <div class="navbar-header pull-left">
                <a class="navbar-brand" href="~/">
                    <small>
                        <img src="~/Content/application/images/bottle.png" alt="logo" style="height: 22px;" />
                        ceyglass
                    </small>
                </a>
            </div>
            <!--user related details-->
            <div class="navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                    <!--notifications box-->
                    @Html.Action("Notifications", "User")

                    <!--message box-->
                    @Html.Action("Messages", "User")

                    <!--user menu-->
                    @Html.Action("UserMenu", "User")
                </ul>
            </div>
        </div>
    </div>
    <!--content area-->
    <div id="main-container" class="main-container">
        <div class="main-container-inner">
            <!--responsive menu toggler-->
            <a id="menu-toggler" class="menu-toggler" href="javascript:void(0);">
                <span class="menu-text"></span>
            </a>
            <!--side menu-->
            <div id="sidebar" class="sidebar">
                <!--menu-->
                @Html.Partial("_menu")
                <!--toggle menu-->
                <div id="sidebar-collapse" class="sidebar-collapse">
                    <i class="icon-double-angle-left" data-icon2="icon-double-angle-right" data-icon1="icon-double-angle-left"></i>
                </div>
            </div>

            <div class="main-content">
                <div id="breadcrumbs" class="breadcrumbs">
                    <!--content will be changed dynamically-->
                    <ul id="ul-breadcrumb" class="breadcrumb">
                        <li>
                            <i class="icon-home home-icon"></i>
                            <a href="#">Home</a>
                        </li>
                    </ul>
                    <div id="nav-search" class="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input id="nav-search-input" class="nav-search-input" type="text" autocomplete="off" placeholder="Search ...">
                                <i class="icon-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div>
                </div>

                <div class="page-content">
                    <!--page title will be changed dynamically-->
                    <div id="div-page-title" class="page-header">
                       @* <h1>ceyglass Home
                        </h1>*@
                    </div>
                    <div class="row">
                        <!--body will be rendered to this div based on the selected menu item-->
                        <div id="div-render-body" class="col-xs-12">
                           @* home page content*@
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <a id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" href="#">
        <i class="icon-double-angle-up icon-only bigger-110"></i>
    </a>
    @section scripts{
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/Scripts/erp/index")
    }
